@import "tailwindcss";

@font-face {
    font-family: "cinzel";
    src: url('/fonts/cinzel-medium.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "cinzel";
    src: url('/fonts/cinzel-medium.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "cinzel";
    src: url('/fonts/cinzel-medium.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "cinzel";
    src: url('/fonts/cinzel-black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

html {
    font-family: 'cinzel', serif;
}